<div id="<%= dom_id external %>">
  <p>
    <strong>Company name:</strong>
    <%= external.company_name %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= external.product_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= external.quantity %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= external.amount %>
  </p>
  <p>
    <strong>user:</strong>
    <%= external.user_id %>
  </p>

</div>
