<div id="<%= dom_id external %>">
  <div class="card border-dark mb-3">
    <div class="card-header text-uppercase">
    <strong> Company name : </strong>
    <%= external.company_name %>
    </div>
        <div class="card-body text-dark">
          <h5 class="card-title text-capitalize">
            <strong>Product name:</strong>
            <%= external.product_name %>
          </h5>
          <p class="card-text">
          At first entry the 
            <strong>Quantity is</strong>
            <b> <%= external.quantity %> </b>
            and the
            <strong>Amount is </strong>
            <b><%= external.amount %> </b>
          </p>
        </div>
     
  </div>

</div>
