<div id="<%= dom_id group %>">
  <p>
    <strong>Company name:</strong>
    <%= group.company_name %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= group.product_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= group.quantity %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= group.amount %>
  </p>

  <p>
    <strong>user:</strong>
    <%= group.user_id %>
  </p>

</div>
