<div id="<%= dom_id group %>">
  <div class="card border-dark mb-3">
    <div class="card-header text-uppercase">
    <strong>Company name : </strong>
    <%= group.company_name %>
    </div>
        <div class="card-body text-dark">
          <h5 class="card-title text-capitalize">
            <strong>Product name:</strong>
            <%= group.product_name %>
          </h5>
          <p class="card-text">
          At first entry the 
            <strong>Quantity is</strong>
            <b> <%= group.quantity %> </b>
            and the
            <strong>Amount is</strong>
            <b><%= group.amount %> </b>
          </p>
        </div>
     
  </div>


</div>
